<%#
  Copyright 2019 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<h1>Transferring Membership: Confirm transfer</h1>
<section class="l-section">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="l-panel">
        <%= form_for(@transfer, method: :patch, url: update_transfer_path(@transfer)) do |f| %>
          <h2>#<%= @transfer.reservation.membership_number %> <%= @transfer.copy_contact %></h2>
          <p>Transferring from <%= @transfer.from_user.email %></p>
          <p>Transferring to <%= @transfer.to_user.email %><p>

          <div class="form-options">
            <%= f.check_box(:copy_contact, class: "form-control form-control-m-checkbox", id: "copy_contact") %>
            <label for="copy_contact">Keep membership details? This includes name, badge name, and address</label>
          </div>

          <fieldset class="l-v-spacing">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="l-v-spacing">
                  <%= link_to "Go back to transfer list", new_operator_reservation_transfer_path, class: "btn btn-m-full-width" %>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="l-v-spacing">
                  <input type="submit" value="Email users and transfer membership" class="btn btn-m-full-width">
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
