<%#
  Copyright 2019 AJ Esler
  Copyright 2020 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

%>

<% if !operator_signed_in? %>
  <h1>Review My Memberships</h1>
  <section class="l-section">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="l-panel">
          <% if !user_signed_in? %>
            <%= render "sign_in_notice" %>
          <% else %>
            <h2><%= current_user.email %></h2>

            <p>
              <% if @my_purcahses.count == 1 %>
                You have 1 membership
              <% else %>
                You have <%= @my_purcahses.count %> memberships
              <% end %>
            </p>

            <div class="card-columns">
              <% @my_purcahses.find_each(batch_size: 10) do |reservation| %>
                <%= render("reservation_card", reservation: reservation) do %>
                  <% index_links(reservation).each do |link| %>
                    <p><%= link %></p>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>

<% if operator_signed_in? %>
  <h1>Review All Memberships</h1>
  <p>(note, sign out of operator account to see your personal memberships)</p>

  <section class="l-section">
    <div class="row">
      <div class="col-12 col-md-12">
        <div class="l-panel">
          <h2>Full Members List</h2>
          <p>
            This page is a kind of godmode. Be careful who you show this too, these details are private.
          </p>
          <%= render("operator_claims_table", claims: Claim.active)  %>
        </div>
      </div>
    </div>
  </section>
<% end %>
