<%#
  Copyright 2020 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<p>Kia Ora;</p>

<% if @test_subject %>
  <p>This is an email to test <%= @test_subject %>.</p>
<% else %>
  <p>This is just a test. You don't need to take action on this email</p>
<% end %>

<p>If you've got questions, please feel free to reply to this email</p>
