<%#
  Copyright 2019 Matthew B. Gray

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>

<h1>Put Credit towards Membership #<%= @reservation.membership_number %></h1>
<section class="l-section">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="l-panel">
        <p>
          Warning, this action will change the total owed on this membership.
        </p>

        <%= form_for(@credit, url: operator_reservation_credits_path(@reservation)) do |credit_form| %>
          <div class="form-row align-items-center">
            <div class="col-auto">
              <label class="sr-only" for="inlineFormInputGroup">
                <%= pick_an_amount_instruction(max: @amount_owed) %>
              </label>

              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <%= @amount_owed.currency.symbol %>
                  </div>
                </div>

                <%=
                  credit_form.text_field(:amount,
                    required: true,
                    class: "form-control",
                    id: "first_name",
                    value: @amount_owed,
                    placeholder: pick_an_amount_instruction(max: @amount_owed),
                  )
                %>
              </div>
            </div>

            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-2">
                Credit Account
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-4">
      <div class="l-v-spacing">
        <%= render("reservation_card", reservation: @reservation) %>
      </div>
    </div>
  </div>
</section>
