<%#
  Copyright 2020 Steven Ensslen

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
%>
<p>Kia ora <%= @detail %></p>

<p>
Thank you for voting in the 2020 Hugo Awards, Lodestar Award, <em>Astounding</em> Award
  and the 1945 Retro Hugo Awards.
</p>

<% if !@ranks.present? %>
  <p>
    Your ballot is currently empty.
  </p>
<% else %>
  <p>
    Below is a summary of your current voting ballot:
  </p>

    <% @ranks.each do |rank| %>
      <% if !@previous_category %>
        <p><%= rank.finalist.category.name %></p><ol>
      <% elsif rank.finalist.category.name != @previous_category %>
        </ol><p><%= rank.finalist.category.name %></p><ol>
      <% end %>
      <% @previous_category = rank.finalist.category.name %>
        <li> <%= rank.finalist.description %> </li>
    <% end %>
  </ol>
<% end %>


<p>
 The deadline for voting is <%= localize($hugo_closed_at.in_time_zone("Pacific Time (US & Canada)"), :format => :long) %> Pacific Daylight Time
  (<%= localize($hugo_closed_at.in_time_zone("Eastern Time (US & Canada)"), :format => :short) %> Eastern Daylight Time,
  <%= localize($hugo_closed_at.in_time_zone("Europe/Dublin"), :format => :short) %> Irish time,
  and <%= localize($hugo_closed_at.in_time_zone("Wellington"), :format => :short) %> New Zealand time).
</p>

<p>
  To change your votes online, please visit <%= link_to($hostname, $hosturl) %>,
  click on My Memberships to access all memberships linked with that email address.
  Then click the voting links on your membership.
</p>

<p>
  We look forward to your participation in the 2020 Hugo Awards and 1945 Retro Hugos, and hope to see you at CoNZealand!
</p>

<p>
  Tammy Coxen, Nicholas Whyte and Ian Moore</br>
  Hugo Administrator and Deputy Hugo Administrators
</p>
